if SHIELD_NEtest3_R

config ZMK_KEYBOARD_NAME
    default "NEtest3_R"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_NEtest3_L

config ZMK_KEYBOARD_NAME
    default "NEtest3_L"

config ZMK_SPLIT
    default y

endif
